MechanicalSoup==0.6.0
PyGithub==1.29
appdirs==1.4.0
beautifulsoup4==4.5.1
decorator==4.0.10
funcsigs==1.0.2
future==0.16.0
gmusicapi==10.1.0
gpsoauth==0.4.0
httplib2==0.9.2
mock==2.0.0
mutagen==1.35.1
oauth2client==4.0.0
pbr==1.10.0
proboscis==1.2.6.0
protobuf==3.1.0.post1
pyasn1-modules==0.0.8
pyasn1==0.1.9
pycryptodomex==3.4.3
python-dateutil==2.6.0
requests==2.12.4
rsa==3.4.2
six==1.10.0
validictory==1.1.0
